<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles1.css">
  <title>Veltra | Travel Packages Platform</title>
</head>
<body>
  <header>
    <img src="\images\logo.png" alt="Veltra Logo" style="height: 50px;">
    <h1>Welcome to Veltra</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/Trip">Trip</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>
  <main>
    <section>
      <h2>Your Future Trip Awaits</h2>
      <p>Veltra connects Trip Organizer with the Explorers. Explore the best Travel Packages!</p>
      <a href="/Trip" class="btn">Explore Trip</a>
    </section>
    <section>
      <h2>Why Choose Veltra?</h2>
      <p>Our platform provides personalized Trip recommendations, a seamless application process, and resources to help you to manage your trips. Join thousands of satisfied users who have landed their dream Destinations!</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2024 Veltra | Travel Package Platform</p>
  </footer>
</body>
</html>
